article#app-header-component{
    height: 60px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.23);
    position: absolute;
    margin-top: -60px;
    z-index: 10;
}
article#app-header-component header{
    max-width: 650px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
article#app-header-component header div#text_logo{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
article#app-header-component header div#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
article#app-header-component header button {
    background-color: transparent;
    min-width: 80px;
    height: 100%;
    padding: 5px;
    border-radius: 0;
    font-size: 14px;
    color: #585858;
    text-align: right;
}

article#app-header-component  p{ font-size: 10px }
article#app-header-component  h2{ font-size: 18px }
article#app-header-component header span { font-size: 28px }
